<style>
.recommendedcontaineradd {
display:inline-block;
text-align:center;
width:100%;
margin:20px 2px 5px 2px;
}
.recommendedtitleadd {
font-size:16px;
font-weight:bold;
color:#000;
white-space: nowrap;
overflow:hidden;
}
.recommendedpriceadd {
color:#fff;
font-weight:bold;
background-color:#0b76e0;
padding:3px 6px 3px 6px;
border-radius:5px;
font-size:13px;
margin: 5px 2px 0px 2px;
text-align:center;
}
.recommendedreviewadd {
font-size:12px;
line-height:15px;
color:#000;
text-align:center;
margin:5px 0px 10ddpx 0px;
}
.recommendedoutlineadd {
border:1px solid #ddd;
display:inline-block;
padding:10px;
border-radius:3px;
text-align:center;
width:100%;
padding: 8px;
line-height:25px;
background-blend-mode: overlay;
animation: pulse 2s infinite;
background-color: rgba(255, 255, 255, 0.8);
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(11, 118, 224, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(11, 118, 224, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(11, 118, 224, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(11, 118, 224, 0.4);
    box-shadow: 0 0 0 0 rgba(11, 118, 224, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(11, 118, 224, 0);
      box-shadow: 0 0 0 20px rgba(11, 118, 224, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(11, 118, 224, 0);
      box-shadow: 0 0 0 0 rgba(11, 118, 224, 0);
  }
}
 
</style>
<div id="RelatedDiv" style="display:none;">
{% assign related_product = product.metafields.related_product.product_list.value %}
   {% if related_product %}
     {% for related_product in related_product %}
<div class="recommendedcontaineradd" style="background-image: url('{{ related_product.featured_image | img_url: 'medium' }}'); background-size:cover; background-repeat:no-repeat; background-position: center;">
<div class="recommendedoutlineadd">
<div style="font-weight:bold; font-size:15px;">Don't Forget:</div>
<div class="recommendedtitleadd">{{related_product.title}}</div>
<div class="recommendedreviewadd">{{ related_product.metafields.judgeme.badge }}</div>
<a style="text-decoration:none;" href = "{{shop.url | append: "/products/" | append: related_product.handle }}"><div style="padding:3px 12px 3px 12px;" class="recommendedpriceadd">VIEW</div></a>
</div>
</div>
{% endfor %}
{% endif %}
</div>

<script>
function showDiv() {
   document.getElementById('RelatedDiv').style.display = "block";
}
</script>