{% comment %}<div class="announcementbartop">FREE SHIPPING ON ALL ORDERS OVER £25</div>

{% assign start = "2022-09-18" | date: '%s' %}
{% assign end = "2022-09-20" | date: '%s' %}
{% assign today = "now" | date: '%s' %}
{% if  start <= today and today <= end %}
<div style="background-color:#FF0000; padding:15px; color:#FFF; text-align:center; font-weight:bold;">TEST</div>
{% endif %}
{% endcomment %}


<style>
.news-ticker,
.news-ticker li {
position: absolute;
width: 100%;
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.news-ticker ul {
list-style: none;
padding: 0;
margin: 0;
}

.news-ticker {
height:50px;
top: 0;
left: 0;
background-color: #0b76e0;
color: #fff;
}

.news-ticker li {
text-align: center;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.topbarhidden{
 display:none;   
}
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div style="height:50px; background-color:#0b76e0;">
<div class="news-ticker topbarhidden" data-speed="5000">
<ul>
  
<li><b><i class="fa fa-truck"></i> FREE SHIPPING OVER £19.99</b><br><span style="font-size:13px;">Same-day dispatch before 16:00 Monday to Friday and before 13:00 Saturday & Sunday</span></li>
<li><a href="https://vapehq.co.uk/collections/iqos?utm_source=announcement&utm_medium=banner&utm_id=iqos" style="text-decoration:none; color:#fff;"><b><i class="fa-solid fa-circle-info"></i> IQOS ILUMA & TEREA</b><br><span style="font-size:13px;">Avaiable now!</span></a></li>
<li><a href="/pages/multibuy-deals" style="text-decoration:none; color:#fff;"><b><i class="fa fa-badge-percent"></i> MULTIBUY DEALS</b><br><span style="font-size:13px;">Save money across our site!</span></a></li>
<li><a href="/collections/starter-vape-kits" style="text-decoration:none; color:#fff;"><b><i class="fa-sharp fa-solid fa-droplet"></i> FREE E-LIQUIDS WITH STARTER KITS</b><br><span style="font-size:13px;">Get set up for quitting smoking</span></a></li>
</ul>
</div></div>

 {% comment %} <div style="box-shadow: 0 0 0 2px #ff0000; outline: dashed 2px #fff;"></div>
<div style="background-color:#FF0000; padding:5px; color:#FFF; text-align:center; font-size:11px; font-weight:bold;">PLEASE NOTE: DELIVERIES MAY BE DELAYED DUE TO ADVERSE WEATHER</div>
  <div style="box-shadow: 0 0 0 2px #ff0000; outline: dashed 2px #fff;"></div> {% endcomment %}


<script>
$(document).ready(function(){
    $('.topbarhidden').slideDown(1000);
    //$('#shopify-section-static-utility-bar').css('display', 'none');
});
</script>

<script>
jQuery(document).ready(function($){

  var tickerSpeed = $('.news-ticker').attr('data-speed');

  $('.news-ticker ul li').hide();
  $('.news-ticker ul li:first').show();

  var currentSlide = 0;
  var slideCount = ($('.news-ticker li').length) - 1;

  var startTicker = setInterval(function(){

  $('.news-ticker ul li').eq(currentSlide).fadeOut(500)

  if (currentSlide < slideCount) {
    currentSlide += 1;
  } else {
    currentSlide = 0;
  }

  $('.news-ticker ul li').eq(currentSlide).fadeIn(500)

  }, tickerSpeed);

  $('.close-ticker').on('click', function(){
    clearInterval(startTicker);
    $('.news-ticker').fadeOut(500, function(){
      $(this).remove();
    });
  });

});
</script>