{% comment %}<a href="/pages/black-friday-23" style="color:#fff; text-decoration:none;">
 <div align="center" style=" background-color:#000; background-image: url(https://i.ytimg.com/vi/ewl7BauLoGk/maxresdefault.jpg); background-position: center; background-repeat: repeat; background-size: 300px;  width:100%; padding:10px">
<img src="https://cdn.shopify.com/s/files/1/2600/2254/files/black-friday-web-link.png?v=1699970355" width="230px";> 
</div></a>{% endcomment %}