{% assign pure = 0 %}
{% assign qsalt = 0 %}
{% for item in cart.items %}
  {% assign splitSKU = item.sku | downcase | split: "-" %}
  {% if splitSKU contains "pure" %}
    {% assign pure = pure | plus: item.quantity %}
  {% endif %}
  {% if splitSKU contains "qsalt" %}
    {% assign pure = qsalt | plus: item.quantity %}
  {% endif %}
{% endfor %}
{% if pure >= 3 and pure < 10 %}
  <div class="desktopUpsell" style="background-color:#f2f2f2; color:#545454; text-align:center; margin:10px 5px 20px 5px; padding:10px">
    <img src="{{ '600x400.png' | asset_img_url: '206x' }}">
  </div>
{% endif %}
{% if qsalt >= 3 and qsalt < 10 %}
  <div class="desktopUpsell" style="background-color:#f2f2f2; color:#545454; text-align:center; margin:10px 5px 20px 5px; padding:10px">
    <img src="{{ 'qsalt-reminder.jpg' | asset_img_url: '206x' }}">
  </div>
{% endif %}
<script>console.log('Pure - {{ pure }}'); console.log('QSalt - {{ qsalt }}');</script>