{% if collection.metafields.custom.collection_description_on_off == true %}
<div class="bottom-collection-container" style="margin-top:-10px;">
<div class="bottom-collection-box">
{{ collection.metafields.custom.collection_bottom_description_1 }}
</div>

<div class="bottom-collection-box">
{{ collection.metafields.custom.collection_bottom_description_2 }}
</div>

<div class="bottom-collection-box">
{{ collection.metafields.custom.collection_bottom_description_3 }}
</div>
</div>
{% endif %}