<style>
.popularbrandsparent {
text-align:center;
margin: 15px 0px -25px 0px;
}
.popularbrandscontainer {
margin:auto;
}
.popularbrand {
max-width:150px;
display:inline-block;
margin:15px;
-webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
overflow:hidden;
border-radius:100px;
padding:10px;
}
.popularbrand:hover {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border:1px solid #999;
border-radius:100px;
}
.popularbrandimg {
width:100%;
opacity: 0.5;
}
.popularbrandimg:hover {
opacity:1.0;
}
@media only screen and (max-width: 720px) {
.popularbrand {
max-width:80px;
margin:5px;
	}
}
</style>
<div class="popularbrandsparent">
  <strong>POPULAR BRANDS</strong>
<div class="popularbrandscontainer">
<a href="/collections/pure" alt="Pure E-Liquid"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/pure-e-liquid.jpg?v=1677156881" alt="Pure E-Liquid"></div></a>
<a href="/collections/qseries" alt="QSeries"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/Q_LOGO.jpg?v=1733236727" alt="QSeries"></div></a>
<a href="/collections/elux" alt="ELUX"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/ELUX.jpg?v=1732612554" alt="Q2 PRO Pod Kit"></div></a>
<a href="/collections/vaporesso" alt="Vaporesso"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/VAPORESSO.jpg?v=1733236727" alt="QONE Pod Kit"></div></a>
<a href="/collections/ivg" alt="IVG E-Liquid"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/IVG_LOGO.jpg?v=1732612554" alt="IVG E-Liquid"></div></a>
<a href="/collections/vampire-vape" alt="Vampire Vape E-Liquid"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/vampire-vape-e-liquid.jpg?v=1677156881" alt="Vampire Vape E-Liquid"></div></a>
<a href="/collections/oxva" alt="OXVA Vape Tanks And Devices"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/Oxva_Logo.jpg?v=1732612555" alt="OXVA Vape Tanks And Devices"></div></a>
<a href="/collections/iqos" alt="IQOS And Terea - Heat Not Burn"><div class="popularbrand"><img class="popularbrandimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/iqos-heat-not-burn.jpg?v=1677156882" alt="IQOS And Terea - Heat Not Burn"></div></a>
</div></div>