{% if product.tags contains "Innokin" %}
<div class="brandlogocontainer">
<a href="/collections/innokin"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/innokin.png?v=1663839546"></div></a>
<a href="/collections/innokin"><div class="brandlogotext">VIEW INNOKIN RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Vampire Vape" %}
<div class="brandlogocontainer">
<a href="/collections/vampire-vape"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/vampire-vape.png?v=1663842824"></div></a>
<a href="/collections/vampire-vape"><div class="brandlogotext">VIEW VAMPIRE VAPE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
  {% endif %}
{% if product.tags contains "Aspire" %}
<div class="brandlogocontainer">
<a href="/collections/aspire"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/aspire_bf7ca2ef-ec32-4a80-9f4a-15a096af7e1b.png?v=1673958154"></div></a>
<a href="/collections/aspire"><div class="brandlogotext">VIEW ASPIRE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Uwell" %}
<div class="brandlogocontainer">
<a href="/collections/uwell"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/uwell.png?v=1673962752"></div></a>
<a href="/collections/uwell"><div class="brandlogotext">VIEW UWELL RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "IQOS" %}
<div class="brandlogocontainer">
<a href="/collections/iqos"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/iqos_9dca52b1-1b20-4559-842f-448b3157d88b.png?v=1664542058"></div></a>
<a href="/collections/iqos"><div class="brandlogotext">VIEW IQOS RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
  {% endif %}
  {% if product.tags contains "iqos" %}
<div class="brandlogocontainer">
<a href="/collections/iqos"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/iqos_9dca52b1-1b20-4559-842f-448b3157d88b.png?v=1664542058"></div></a>
<a href="/collections/iqos"><div class="brandlogotext">VIEW IQOS RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
  {% endif %}
{% if product.tags contains "IVG" %}
<div class="brandlogocontainer">
<a href="/collections/ivg"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/ivg2.png?v=1663838833"></div></a>
<a href="/collections/ivg"><div class="brandlogotext">VIEW IVG RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Voopoo" %}
<div class="brandlogocontainer">
<a href="/collections/voopoo"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/voopoo.png?v=1664536489"></div></a>
<a href="/collections/voopoo"><div class="brandlogotext">VIEW VOOPOO RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Dinner Lady" %}
<div class="brandlogocontainer">
<a href="/collections/dinner-lady"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/dinner-lady2.png?v=1663838833"></div></a>
<a href="/collections/dinner-lady"><div class="brandlogotext">VIEW DINNER LADY RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "horizontech" %}
<div class="brandlogocontainer">
<a href="/collections/horizontech"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/horizontech.png?v=1664537215"></div></a>
<a href="/collections/horizontech"><div class="brandlogotext">VIEW HORIZONTECH RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
  {% endif %}
{% if product.tags contains "Freemax" %}
<div class="brandlogocontainer">
<a href="/collections/freemax"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/freemax.png?v=1664537089"></div></a>
<a href="/collections/freemax"><div class="brandlogotext">VIEW FREEMAX RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Riot Squad" %}
<div class="brandlogocontainer">
<a href="/collections/riot-squad"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/riotsquad.png?v=1664539174"></div></a>
<a href="/collections/riot-squad"><div class="brandlogotext">VIEW RIOT SQUAD RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "pure" %}
<div class="brandlogocontainer">
<a href="/collections/pure"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/pure.png?v=1663839547"></div></a>
<a href="/collections/pure"><div class="brandlogotext">VIEW PURE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Pure" %}
<div class="brandlogocontainer">
<a href="/collections/pure"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/pure.png?v=1663839547"></div></a>
<a href="/collections/pure"><div class="brandlogotext">VIEW PURE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "element" %}
<div class="brandlogocontainer">
<a href="/collections/element"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/element.png?v=1664531137"></div></a>
<a href="/collections/element"><div class="brandlogotext">VIEW ELEMENT RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Yolo Bar" %}
<div class="brandlogocontainer">
<a href="/collections/yolo"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/yolo.png?v=1664536679"></div></a>
<a href="/collections/yolo"><div class="brandlogotext">VIEW YOLO RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Elf Bar" %}
<div class="brandlogocontainer">
<a href="/collections/elf-bar"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/elf-bar2.png?v=1663838833"></div></a>
<a href="/collections/elf-bar"><div class="brandlogotext">VIEW ELF BAR RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Vapourcore" %}
<div class="brandlogocontainer">
<a href="/collections/vapourcore"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/vapourcore.png?v=1664535502"></div></a>
<a href="/collections/vapourcore"><div class="brandlogotext">VIEW VAPOURCORE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Lost Mary" %}
<div class="brandlogocontainer">
<a href="/collections/lost-mary"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/lost-mary.png?v=1674133128"></div></a>
<a href="/collections/lost-mary"><div class="brandlogotext">VIEW LOST MARY RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Bar Liquid" %}
<div class="brandlogocontainer">
<a href="/collections/bar-liquid-3000"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/barliquid.png?v=1664540811"></div></a>
<a href="/collections/bar-liquid-3000"><div class="brandlogotext">VIEW BAR LIQUID RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Lucky Thirteen" %}
<div class="brandlogocontainer">
<a href="/collections/lucky-thirteen"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/luckythirteen.png?v=1664532002"></div></a>
<a href="/collections/lucky-thirteen"><div class="brandlogotext">VIEW LUCKY THIRTEEN RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "2X" %}
<div class="brandlogocontainer">
<a href="/collections/2x-nic-salt"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/2x.png?v=1664536584"></div></a>
<a href="/collections/2x-nic-salt"><div class="brandlogotext">VIEW 2X RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Juice N Power" %}
<div class="brandlogocontainer">
<a href="/collections/juice-n-power"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/juicenpower.png?v=1664540352"></div></a>
<a href="/collections/juice-n-power"><div class="brandlogotext">VIEW JUICE N POWER RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Major Flavor" %}
<div class="brandlogocontainer">
<a href="/collections/major-flavor"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/majorflavor.png?v=1664538807"></div></a>
<a href="/collections/major-flavor"><div class="brandlogotext">VIEW MAJOR FLAVOR RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Ice Floe" %}
<div class="brandlogocontainer">
<a href="/collections/ice-floe"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/icefloe.png?v=1664538049"></div></a>
<a href="/collections/ice-floe"><div class="brandlogotext">VIEW ICE FLOE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Unreal" %}
<div class="brandlogocontainer">
<a href="/collections/unreal-e-liquid"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/unrealraspberry.png?v=1664540702"></div></a>
<a href="/collections/unreal-e-liquid"><div class="brandlogotext">VIEW UNREAL RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Oxva" %}
<div class="brandlogocontainer">
<a href="/collections/oxva"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/oxva.png?v=1664541467"></div></a>
<a href="/collections/oxva"><div class="brandlogotext">VIEW OXVA RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Doozy" %}
<div class="brandlogocontainer">
<a href="/collections/doozy"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/doozy.png?v=1664540179"></div></a>
<a href="/collections/doozy"><div class="brandlogotext">VIEW DOOZY RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Donut King" %}
<div class="brandlogocontainer">
<a href="/collections/donut-king"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/donutking.png?v=1664540581"></div></a>
<a href="/collections/donut-king"><div class="brandlogotext">VIEW DONUT KING RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Udderly" %}
<div class="brandlogocontainer">
<a href="/collections/udderly-amazing"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/udderly.png?v=1664531505"></div></a>
<a href="/collections/udderly-amazing"><div class="brandlogotext">VIEW UDDERLY RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "SKE" %}
<div class="brandlogocontainer">
<a href="/collections/ske"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/ske.png?v=1676377798"></div></a>
<a href="/collections/ske"><div class="brandlogotext">VIEW SKE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Vaporesso" %}
<div class="brandlogocontainer">
<a href="/collections/vaporesso"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/vaporesso.png?v=1663943243"></div></a>
<a href="/collections/vaporesso"><div class="brandlogotext">VIEW VAPORESSO RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Geekvape" %}
<div class="brandlogocontainer">
<a href="/collections/geekvape"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/geekvape.png?v=1664536828"></div></a>
<a href="/collections/geekvape"><div class="brandlogotext">VIEW GEEK VAPE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Vuse" %}
<div class="brandlogocontainer">
<a href="/collections/vuse"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/vuse.png?v=1664541350"></div></a>
<a href="/collections/vuse"><div class="brandlogotext">VIEW VUSE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "ZoVoo" %}
<div class="brandlogocontainer">
<a href="/collections/zovoo"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/zovoo.png?v=1676377656"></div></a>
<a href="/collections/zovoo"><div class="brandlogotext">VIEW ZOVOO RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Elux" %}
<div class="brandlogocontainer">
<a href="/collections/elux"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/elux.png?v=1679064932"></div></a>
<a href="/collections/elux"><div class="brandlogotext">VIEW ELUX RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Brutal" %}
<div class="brandlogocontainer">
<a href="/collections/brutal"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/brutal.png?v=1676377533"></div></a>
<a href="/collections/brutal"><div class="brandlogotext">VIEW BRUTAL RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Eleaf" %}
<div class="brandlogocontainer">
<a href="/collections/eleaf"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/eleaf.png?v=1664541125"></div></a>
<a href="/collections/eleaf"><div class="brandlogotext">VIEW ELEAF RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Innevape" %}
<div class="brandlogocontainer">
<a href="/collections/innevape"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/innevape.png?v=1664540469"></div></a>
<a href="/collections/innevape"><div class="brandlogotext">VIEW INNEVAPE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Nicohit" %}
<div class="brandlogocontainer">
<a href="/collections/nicohit"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/nicohit.png?v=1676377950"></div></a>
<a href="/collections/nicohit"><div class="brandlogotext">VIEW NICOHIT RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "QPod" %}
<div class="brandlogocontainer">
<a href="/collections/qpod"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/qpod.png?v=1663839546"></div></a>
<a href="/collections/qpod"><div class="brandlogotext">VIEW QPOD RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Smok" %}
<div class="brandlogocontainer">
<a href="/collections/smok"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/smok.png?v=1664531667"></div></a>
<a href="/collections/smok"><div class="brandlogotext">VIEW SMOK RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Vaptio" %}
<div class="brandlogocontainer">
<a href="/collections/vaptio"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/vaptio.png?v=1664531856"></div></a>
<a href="/collections/vaptio"><div class="brandlogotext">VIEW VAPTIO RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "XTAR" %}
<div class="brandlogocontainer">
<a href="/collections/xtar"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/xtar.png?v=1664541788"></div></a>
<a href="/collections/xtar"><div class="brandlogotext">VIEW XTAR RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Elf Liq" %}
<div class="brandlogocontainer">
<a href="/collections/elf-liq"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/elf-liq.png?v=1680181677"></div></a>
<a href="/collections/elf-liq"><div class="brandlogotext">VIEW ELF LIQ RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "QOne" %}
<div class="brandlogocontainer">
<a href="/collections/qone"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/qone.png?v=1676378114"></div></a>
<a href="/collections/qone"><div class="brandlogotext">VIEW QONE RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "QSalts" %}
<div class="brandlogocontainer">
<a href="/collections/qsalts"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/qsalts.png?v=1683797701"></div></a>
<a href="/collections/qsalts"><div class="brandlogotext">VIEW QSALTS RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Happy Vibes" %}
<div class="brandlogocontainer">
<a href="/collections/happy-vibes"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/happy-vibes.png?v=1688997665"></div></a>
<a href="/collections/happy-vibes"><div class="brandlogotext">VIEW HAPPY VIBES RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
{% if product.tags contains "Nasty Juice" %}
<div class="brandlogocontainer">
<a href="/collections/nasty-e-liquid"><div class="brandlogobox"><img class="brandlogoimg" src="https://cdn.shopify.com/s/files/1/2600/2254/files/nasty.png?v=1700737751"></div></a>
<a href="/collections/nasty-e-liquid"><div class="brandlogotext">VIEW NASTY RANGE</div></a>
<div><img class="brandlogoarrow" src="https://cdn.shopify.com/s/files/1/2600/2254/files/arrow-brand-left.png?v=1686835279"></div>
</div>
{% endif %}
