<style>
.addpure {
border-style:solid;
border-width:1px 1px 1px 5px;
border-color: #0b76e0;
border-radius: 3px;
width: 100%;
padding: 8px;
line-height: 25px;
margin-bottom:5px;
}
.qonepodbundle {
float:right;
margin-left:8px;
line-height:15px;
text-align:center;
background-color: #0b76e0;
display:inline-block;
border-radius: 5px;
color: #fff;
padding: 10px;
font-weight: 700;
}
.addpuretitle {
font-size:20px;
font-weight:bold;
}
.qonesteps {
display:inline-block;
width:33%;
text-align:center;
vertical-align:top;
font-size:14px;
border-style:solid;
border-width:5px 1px 1px 1px;
border-color:#0b76e0;
margin:2px;
padding:3px;
border-radius: 3px;
}
</style>
<div class="multibuy-banner" style="max-width:100%!important; margin:10px 0px 10px 0px;"><i class="fa-solid fa-heart fa-beat-fade"></i> QONE POD BUNDLES</div>
<div class="addpure" style="background-image: url('//cdn.shopify.com/s/files/1/2600/2254/files/qsalt-qone-bundle2.jpg?v=1681817452'); background-size:cover; background-repeat:no-repeat; background-position: center;">
<div class="qonepodbundle"><span style="font-size:13px;">BUNDLE</span></br>£12.99</div>
<span class="addpuretitle">3x QSALT E-LIQUID &amp; QONE POD BUNDLE</span>
<p>Get 1x QOne Pod &amp; 3x 10ML QSalt E-Liquids of your choice in a discounted bundle! Just follow the steps below. <i style="color:#0b76e0;" class="fa-solid fa-arrow-turn-down"></i></p>
</div>
<div style="display:flex; margin-bottom:10px; line-height: 25px;">
<div class="qonesteps"><span style="color:#0b76e0; font-weight:bold">STEP 1<br><i class="fa-sharp fa-solid fa-cart-plus fa-lg"></i></span><br>Add 1x QOne Pod To Cart</div>
<div class="qonesteps"><span style="color:#0b76e0; font-weight:bold">STEP 2<br><i class="fa-sharp fa-solid fa-cart-plus fa-lg"></i></span><br><a style="color:#0b76e0;" href="/collections/qsalts">Add 3x 10ML QSalts</a> <i style="color:#0b76e0;" class="fa-sharp fa-solid fa-arrow-pointer"></i></div>
<div class="qonesteps"><span style="color:#0b76e0; font-weight:bold">STEP 3<br><i class="fa-sharp fa-solid fa-cart-circle-check fa-lg"></i></span><br>Discount In Cart</div>
</div>
<p>&nbsp;</p>
<div class="addpure" style="background-image: url('//cdn.shopify.com/s/files/1/2600/2254/files/pure-qone-bundle.jpg?v=1681819192'); background-size:cover; background-repeat:no-repeat; background-position: center;">
<div class="qonepodbundle"><span style="font-size:13px;">BUNDLE</span></br>£15.49</div>
<span class="addpuretitle">3x PURE E-LIQUID &amp; QONE POD BUNDLE</span>
<p>Get 1x QOne Pod &amp; 3x 10ML Pure E-Liquids of your choice in a discounted bundle! Just follow the steps below. <i style="color:#0b76e0;" class="fa-solid fa-arrow-turn-down"></i></p>
</div>
<div style="display:flex; margin-bottom:10px; line-height: 25px;">
<div class="qonesteps"><span style="color:#0b76e0; font-weight:bold">STEP 1<br><i class="fa-sharp fa-solid fa-cart-plus fa-lg"></i></span><br>Add 1x QOne Pod To Cart</div>
<div class="qonesteps"><span style="color:#0b76e0; font-weight:bold">STEP 2<br><i class="fa-sharp fa-solid fa-cart-plus fa-lg"></i></span><br><a style="color:#0b76e0;" href="/collections/pure">Add 3x 10ML Pure</a> <i style="color:#0b76e0;" class="fa-sharp fa-solid fa-arrow-pointer"></i></div>
<div class="qonesteps"><span style="color:#0b76e0; font-weight:bold">STEP 3<br><i class="fa-sharp fa-solid fa-cart-circle-check fa-lg"></i></span><br>Discount In Cart</div>
</div>