<div class="gtkb-wrap" style="font-size:12px; text-align:left;">

{% if product.metafields.reviews.rating_count >= 80 %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-award" style="color:#0b76e0;"></i> Top Seller</div>
{% endif %}

{% if product.tags contains "sp-easytouse" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-thumbs-up" style="color:#0b76e0;"></i> Easy to Use</div>
{% endif %}

{% if product.tags contains "sp-norefilling" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> No Refilling</div>
{% endif %}

{% if product.tags contains "sp-nocharging" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-bolt" style="color:#0b76e0;"></i> No Charging</div>
{% endif %}
  
{% if product.tags contains "sp-readytouse" %}
<div class="gtkb"><i class="fa fa-circle-check" style="color:#0b76e0;"></i> Ready to Use</div>
{% endif %}
  
{% if product.tags contains "sp-inbuiltbattery" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> In-Built Battery</div>
{% endif %}
  
{% if product.tags contains "sp-dualbattery" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> Dual Battery</div>
{% endif %}
  
{% if product.tags contains "sp-singlebattery" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> Single Battery</div>
{% endif %}
  
{% if product.tags contains "sp-starterkit" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-circle-play" style="color:#0b76e0;"></i> Starter Kit</div>
{% endif %}
  
{% if product.tags contains "sp-refillable" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> Refillable</div>
{% endif %}
  
{% if product.tags contains "sp-disposable" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-recycle" style="color:#0b76e0;"></i> Disposable</div>
{% endif %}
  
{% if product.tags contains "sp-mouthtolung" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-lips" style="color:#0b76e0;"></i> Mouth to Lung</div>
{% endif %}
  
{% if product.tags contains "sp-directtolung" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-lungs" style="color:#0b76e0;"></i> Direct to Lung</div>
{% endif %}
  
{% if product.tags contains "sp-nicshotrequired" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-syringe" style="color:#0b76e0;"></i> Nic Shot Required</div>
{% endif %}
  
{% if product.tags contains "sp-tpdcompliant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-file-certificate" style="color:#0b76e0;"></i> TPD Compliant</div>
{% endif %}
  
{% if product.tags contains "sp-awardwinning" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-award" style="color:#0b76e0;"></i> Award Winning</div>
{% endif %}
  
{% if product.tags contains "sp-disposablepods" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-recycle" style="color:#0b76e0;"></i> Disposable Pods</div>
{% endif %}
  
{% if product.tags contains "sp-usbc" %}
<div class="gtkb"><i class="fa-brands fa-usb" style="color:#0b76e0;"></i> USB-C</div>
{% endif %}
  
{% if product.tags contains "sp-tankanddevice" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-badge-check" style="color:#0b76e0;"></i> Tank &amp; Device</div>
{% endif %}
  
{% if product.tags contains "sp-deviceonly" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-badge-check" style="color:#0b76e0;"></i> Device Only</div>
{% endif %}

{% if product.tags contains "sp-tankonly" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-badge-check" style="color:#0b76e0;"></i> Tank Only</div>
{% endif %}
  
{% if product.tags contains "sp-2mlcapacity" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> 2ml Capacity</div>
{% endif %}
  
{% if product.tags contains "sp-replacablecoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> Replaceable Coil</div>
{% endif %}
  
{% if product.tags contains "sp-freebasenicotine" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-atom-simple" style="color:#0b76e0;"></i> Freebase Nicotine</div>
{% endif %}
  
{% if product.tags contains "sp-saltnicotine" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-atom-simple" style="color:#0b76e0;"></i> Salt Nicotine</div>
{% endif %}
  
{% if product.tags contains "sp-hybridnicotine" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-atom-simple" style="color:#0b76e0;"></i> Hybrid Nicotine</div>
{% endif %}

{% if product.tags contains "sp-meshcoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> Mesh Coil</div>
{% endif %}

{% if product.tags contains "sp-ceramiccoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> Ceramic Coil</div>
{% endif %}

{% if product.tags contains "sp-topairflow" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-wind" style="color:#0b76e0;"></i> Top Airflow</div>
{% endif %}

{% if product.tags contains "sp-bottomairflow" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-wind" style="color:#0b76e0;"></i> Bottom Airflow</div>
{% endif %}

{% if product.tags contains "sp-prefilledpod" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> Pre-Filled Pod</div>
{% endif %}

{% if product.tags contains "sp-adjustablewattage" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-gauge" style="color:#0b76e0;"></i> Adjustable Wattage</div>
{% endif %}

{% if product.tags contains "sp-nicotinefree" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-empty-set" style="color:#0b76e0;"></i> Nicotine Free</div>
{% endif %}

{% if product.tags contains "sp-batterynotincluded" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-slash" style="color:#0b76e0;"></i> Battery Not Included</div>
{% endif %}

{% if product.tags contains "sp-takes18650batteries" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> Takes 18650 Batteries</div>
{% endif %}

{% if product.tags contains "sp-takes20700batteries" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> Takes 20700 Batteries</div>
{% endif %}

{% if product.tags contains "sp-takes21700batteries" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> Takes 21700 Batteries</div>
{% endif %}

{% if product.tags contains "sp-waterresistant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-raindrops" style="color:#0b76e0;"></i> Water Resistant</div>
{% endif %}

{% if product.tags contains "sp-shockresistant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-dumbbell" style="color:#0b76e0;"></i> Shock Resistant</div>
{% endif %}

{% if product.tags contains "sp-dustresistant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-sparkles" style="color:#0b76e0;"></i> Dust Resistant</div>
{% endif %}

{% if product.tags contains "sp-drawactivated" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-wind" style="color:#0b76e0;"></i> Draw Activated</div>
{% endif %}

{% if product.tags contains "sp-buttonactivated" %}
<div class="gtkb"><i class="fa-solid fa-toggle-on" style="color:#0b76e0;"></i> Button Activated</div>
{% endif %}

{% if product.tags contains "sp-7monthwarranty" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-memo-circle-check" style="color:#0b76e0;"></i> 7 Month Warranty</div>
{% endif %}

{% if product.tags contains "sp-unflavoured" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-raindrops" style="color:#0b76e0;"></i> Unflavoured</div>
{% endif %}

{% if product.tags contains "sp-fruit" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-strawberry" style="color:#0b76e0;"></i> Fruit</div>
{% endif %}

{% if product.tags contains "sp-menthol" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-leaf-oak" style="color:#0b76e0;"></i> Menthol</div>
{% endif %}

{% if product.tags contains "sp-ice" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-snowflake" style="color:#0b76e0;"></i> Ice</div>
{% endif %}

{% if product.tags contains "sp-dessert" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-cupcake" style="color:#0b76e0;"></i> Dessert</div>
{% endif %}

{% if product.tags contains "sp-sweets" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-lollipop" style="color:#0b76e0;"></i> Sweets</div>
{% endif %}

{% if product.tags contains "sp-tobacco" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-pipe-smoking" style="color:#0b76e0;"></i> Tobacco</div>
{% endif %}

{% if product.tags contains "sp-miscflavour" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-raindrops" style="color:#0b76e0;"></i> Misc Flavour</div>
{% endif %}

{% if product.tags contains "sp-heatnotburn" %}
<div class="gtkb"><i class="fa-regular fa-temperature-list" style="color:#0b76e0;"></i> Heat Not Burn</div>
{% endif %}

{% if product.tags contains "sp-smokefree" %}
<div class="gtkb"><i class="fa-solid fa-smoke" style="color:#0b76e0;"></i> Smoke Free</div>
{% endif %}

{% if product.tags contains "sp-vapingalternative" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-arrows-repeat" style="color:#0b76e0;"></i> Vaping Alternative</div>
{% endif %}

{% if product.tags contains "sp-realtobacco" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-pipe-smoking" style="color:#0b76e0;"></i> Real Tobacco</div>
{% endif %}

{% if product.tags contains "sp-saferalternative" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-smoking" style="color:#0b76e0;"></i> Safer Alternative</div>
{% endif %}

{% if product.tags contains "sp-stainlesscoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> Stainless Steel Coil</div>
{% endif %}

{% if product.tags contains "sp-dryhit" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-fill" style="color:#0b76e0;"></i> Dry Hit Prevention</div>
{% endif %}


</div>