<div align="center" style="font-size:12px;">

{% if product.metafields.reviews.rating_count >= 80 %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-award" style="color:#0b76e0;"></i> TOP SELLER</div>
{% endif %}

{% if product.tags contains "sp-easytouse" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-thumbs-up" style="color:#0b76e0;"></i> EASY TO USE</div>
{% endif %}

{% if product.tags contains "sp-norefilling" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> NO REFILLING</div>
{% endif %}

{% if product.tags contains "sp-nocharging" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-bolt" style="color:#0b76e0;"></i> NO CHARGING</div>
{% endif %}
  
{% if product.tags contains "sp-readytouse" %}
<div class="gtkb"><i class="fa fa-circle-check" style="color:#0b76e0;"></i> READY TO USE</div>
{% endif %}
  
{% if product.tags contains "sp-inbuiltbattery" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> IN-BUILT BATTERY</div>
{% endif %}
  
{% if product.tags contains "sp-dualbattery" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> DUAL BATTERY</div>
{% endif %}
  
{% if product.tags contains "sp-singlebattery" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> SINGLE BATTERY</div>
{% endif %}
  
{% if product.tags contains "sp-starterkit" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-circle-play" style="color:#0b76e0;"></i> STARTER KIT</div>
{% endif %}
  
{% if product.tags contains "sp-refillable" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> REFILLABLE</div>
{% endif %}
  
{% if product.tags contains "sp-disposable" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-recycle" style="color:#0b76e0;"></i> DISPOSABLE</div>
{% endif %}
  
{% if product.tags contains "sp-mouthtolung" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-lips" style="color:#0b76e0;"></i> MOUTH TO LUNG</div>
{% endif %}
  
{% if product.tags contains "sp-directtolung" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-lungs" style="color:#0b76e0;"></i> DIRECT TO LUNG</div>
{% endif %}
  
{% if product.tags contains "sp-nicshotrequired" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-syringe" style="color:#0b76e0;"></i> NIC SHOT REQUIRED</div>
{% endif %}
  
{% if product.tags contains "sp-tpdcompliant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-file-certificate" style="color:#0b76e0;"></i> TPD COMPLIANT</div>
{% endif %}
  
{% if product.tags contains "sp-awardwinning" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-award" style="color:#0b76e0;"></i> AWARD WINNING</div>
{% endif %}
  
{% if product.tags contains "sp-disposablepods" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-recycle" style="color:#0b76e0;"></i> DISPOSABLE PODS</div>
{% endif %}
  
{% if product.tags contains "sp-usbc" %}
<div class="gtkb"><i class="fa-brands fa-usb" style="color:#0b76e0;"></i> USB C</div>
{% endif %}
  
{% if product.tags contains "sp-tankanddevice" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-badge-check" style="color:#0b76e0;"></i> TANK &amp; DEVICE</div>
{% endif %}
  
{% if product.tags contains "sp-deviceonly" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-badge-check" style="color:#0b76e0;"></i> DEVICE ONLY</div>
{% endif %}

{% if product.tags contains "sp-tankonly" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-badge-check" style="color:#0b76e0;"></i> TANK ONLY</div>
{% endif %}
  
{% if product.tags contains "sp-2mlcapacity" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> 2ML CAPACITY</div>
{% endif %}
  
{% if product.tags contains "sp-replacablecoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> REPLACABLE COIL</div>
{% endif %}
  
{% if product.tags contains "sp-freebasenicotine" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-atom-simple" style="color:#0b76e0;"></i> FREEBASE NICOTINE</div>
{% endif %}
  
{% if product.tags contains "sp-saltnicotine" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-atom-simple" style="color:#0b76e0;"></i> SALT NICOTINE</div>
{% endif %}
  
{% if product.tags contains "sp-hybridnicotine" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-atom-simple" style="color:#0b76e0;"></i> HYBRID NICOTINE</div>
{% endif %}

{% if product.tags contains "sp-meshcoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> MESH COIL</div>
{% endif %}

{% if product.tags contains "sp-ceramiccoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> CERAMIC COIL</div>
{% endif %}

{% if product.tags contains "sp-topairflow" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-wind" style="color:#0b76e0;"></i> TOP AIRFLOW</div>
{% endif %}

{% if product.tags contains "sp-bottomairflow" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-wind" style="color:#0b76e0;"></i> BOTTOM AIRFLOW</div>
{% endif %}

{% if product.tags contains "sp-prefilledpod" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-droplet" style="color:#0b76e0;"></i> PRE-FILLED POD</div>
{% endif %}

{% if product.tags contains "sp-adjustablewattage" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-gauge" style="color:#0b76e0;"></i> ADJUSTABLE WATTAGE</div>
{% endif %}

{% if product.tags contains "sp-nicotinefree" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-empty-set" style="color:#0b76e0;"></i> NICOTINE FREE</div>
{% endif %}

{% if product.tags contains "sp-batterynotincluded" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-slash" style="color:#0b76e0;"></i> BATTERY NOT INCLUDED</div>
{% endif %}

{% if product.tags contains "sp-takes18650batteries" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> TAKES 18650 BATTERIES</div>
{% endif %}

{% if product.tags contains "sp-takes20700batteries" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> TAKES 20700 BATTERIES</div>
{% endif %}

{% if product.tags contains "sp-takes21700batteries" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-battery-bolt" style="color:#0b76e0;"></i> TAKES 21700 BATTERIES</div>
{% endif %}

{% if product.tags contains "sp-waterresistant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-raindrops" style="color:#0b76e0;"></i> WATER RESISTANT</div>
{% endif %}

{% if product.tags contains "sp-shockresistant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-dumbbell" style="color:#0b76e0;"></i> SHOCK RESISTANT</div>
{% endif %}

{% if product.tags contains "sp-dustresistant" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-sparkles" style="color:#0b76e0;"></i> DUST RESISTANT</div>
{% endif %}

{% if product.tags contains "sp-drawactivated" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-wind" style="color:#0b76e0;"></i> DRAW ACTIVATED</div>
{% endif %}

{% if product.tags contains "sp-buttonactivated" %}
<div class="gtkb"><i class="fa-solid fa-toggle-on" style="color:#0b76e0;"></i> BUTTON ACTIVATED</div>
{% endif %}

{% if product.tags contains "sp-7monthwarranty" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-memo-circle-check" style="color:#0b76e0;"></i> 7 MONTH WARRANTY</div>
{% endif %}

{% if product.tags contains "sp-unflavoured" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-raindrops" style="color:#0b76e0;"></i> UNFLAVOURED</div>
{% endif %}

{% if product.tags contains "sp-fruit" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-strawberry" style="color:#0b76e0;"></i> FRUIT</div>
{% endif %}

{% if product.tags contains "sp-menthol" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-leaf-oak" style="color:#0b76e0;"></i> MENTHOL</div>
{% endif %}

{% if product.tags contains "sp-ice" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-snowflake" style="color:#0b76e0;"></i> ICE</div>
{% endif %}

{% if product.tags contains "sp-dessert" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-cupcake" style="color:#0b76e0;"></i> DESSERT</div>
{% endif %}

{% if product.tags contains "sp-sweets" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-lollipop" style="color:#0b76e0;"></i> SWEETS</div>
{% endif %}

{% if product.tags contains "sp-tobacco" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-pipe-smoking" style="color:#0b76e0;"></i> TOBACCO</div>
{% endif %}

{% if product.tags contains "sp-miscflavour" %}  
<div class="gtkb"><i class="fa-sharp fa-solid fa-raindrops" style="color:#0b76e0;"></i> MISC FLAVOUR</div>
{% endif %}

{% if product.tags contains "sp-heatnotburn" %}
<div class="gtkb"><i class="fa-regular fa-temperature-list" style="color:#0b76e0;"></i> HEAT NOT BURN</div>
{% endif %}

{% if product.tags contains "sp-smokefree" %}
<div class="gtkb"><i class="fa-solid fa-smoke" style="color:#0b76e0;"></i> SMOKE FREE</div>
{% endif %}

{% if product.tags contains "sp-vapingalternative" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-arrows-repeat" style="color:#0b76e0;"></i> VAPING ALTERNATIVE</div>
{% endif %}

{% if product.tags contains "sp-realtobacco" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-pipe-smoking" style="color:#0b76e0;"></i> REAL TOBACCO</div>
{% endif %}

{% if product.tags contains "sp-saferalternative" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-smoking" style="color:#0b76e0;"></i> SAFER ALTERNATIVE</div>
{% endif %}

{% if product.tags contains "sp-stainlesscoil" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-reel" style="color:#0b76e0;"></i> STAINLESS STEEL COIL</div>
{% endif %}

{% if product.tags contains "sp-dryhit" %}
<div class="gtkb"><i class="fa-sharp fa-solid fa-fill" style="color:#0b76e0;"></i> DRY HIT PREVENTION</div>
{% endif %}


</div>