<div align="center">
  <i class="fa fa-chevron-right" id="btn-right2" style="float:right; margin-left:5px; line-height:2.6; color:#0b76e0;" aria-hidden="true"></i>
    <i class="fa fa-chevron-left" id="btn-left2" style="float:left; margin-right:5px; line-height:2.6; color:#0b76e0;" aria-hidden="true"></i>
<div class="scrolling-wrapper" id="scroller2" style="margin-bottom:10px;">
    
<a style="text-decoration:none;" href="https://vapehq.co.uk/collections/all-e-liquid"><span class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        ALL E-LIQUID
  </span></a>
&nbsp;  
<a style="text-decoration:none;" href="/collections/nicotine-shots"><span class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        NICOTINE SHOTS
  </span></a>
 
<a style="text-decoration:none;" href="/collections/nicotine-salts"><span  class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        NICOTINE SALTS
  </span></a>
 
<a style="text-decoration:none;" href="/collections/10ml-e-liquid"><span class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        10ML TPD
  </span></a>
 
<a style="text-decoration:none;" href="/collections/50ml-e-liquid"><span class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        50ML SHORTFILL
  </span></a>
 
<a style="text-decoration:none;" href="/collections/100ml-e-liquid"><span class="button-primary" style="--pxu-lia-inner-sequence:2; animation-play-state: running;">
        100ML  SHORTFILL
  </span></a>
    </div>
</div>