<style>
.xmasvoucher {
border:1px dashed #0b76e0;
padding:10px;
display:inline-block;
border-radius:5px;
text-align:center;
background-color:#F7FBFF;
margin:5px 5px 5px 5px;
}
</style>
<div align="center" style="margin-top:20px; margin-bottom:-15px;">
<div class="xmasvoucher">
<b>🎅🏻 SPEND £50, GET A £5 VOUCHER</b>
<p style="margin-bottom:0px;">
Voucher will be emailed to you on January 1st<br>
<a href="/pages/christmas-offers-2023" style="font-size:12px;">Find out more</a></p>
</div>
<div class="xmasvoucher">
<b>🎄 SPEND £100, GET A £10 VOUCHER</b>
<p style="margin-bottom:0px;">
Voucher will be emailed to you on January 1st<br>
<a href="/pages/christmas-offers-2023" style="font-size:12px;">Find out more</a></p>
</div></div>