<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-html"
></script>

<section>
 <div class="rte" style="padding:0px!important;" data-rte>
    {{ section.settings.custom_html }}
  </div>
</section>

{% schema %}
{
  "name": "Main Home Banner",
  "class": "html--section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Custom HTML"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "HTML",
      "default": "<p>Write or paste your HTML code here</p>"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Main Home Banner"
    }
  ]
}

{% endschema %}